.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*{
  margin: 0;
  padding: 0;
}

h3{
  background-color:indigo;
  color: white;
  text-align: center;
  justify-items: center;
  padding: 10px;

}

:search{
  margin-top: 5px;
  padding-top: 5px;
}

.form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button{
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}


.table-container {
  margin: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.search-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.search-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-label {
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-input {
  font-size: 18px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}
